#main_area{
}
#left_menu{
  float:left;
  margin:10px;
}
/*
#right_content {
	width: 1082px;
	height: 580px;
	float: left;
	margin: 10px;
	padding: 10px;
	background-color: gray;
	overflow-y: auto;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	zoom: 1;
	behavior: url("resources/eazytec/js/PIE-1.0.0/PIE.htc");
}
*/
#right_content{
	width: 980px;
	height: 580px;	
  float:left;
  margin:10px;
  padding:10px;
  background-color:white;
  overflow-y:auto;

  border:solid 1px #CCC;
  background-color: white;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
 

  zoom:1;
 behavior:url("eazytec/js/PIE-1.0.0/PIE.htc");
}

.sideBarNav{
  width:200px;height:auto;
  padding:5px;
  border:solid 1px #CCC;
  background-color: #695F5F;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  filter: alpha(opacity=90);
  opacity:0.9;

  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 1);
  behavior:url("eazytec/js/PIE-1.0.0/PIE.htc");
}  
.sideBarNav ul{list-style:none outside none;margin:0px;padding:5px;}  
.sideBarNav li{height:25px;line-height:25px;}  
.sideBarNav li a{text-decoration:none;color:#FFFFFF;}  
.innerTit{  
  width:190px;  
  border: solid 1px gray;
  margin:0px auto;  
  background-color:white;  
  display:block;  
  color:#000;  
  padding:5px;  
  cursor:pointer;
  filter: alpha(opacity=90);
  opacity:0.9;
 /* behavior:url("eazytec/js/PIE-1.0.0/PIE.htc");*/
}   

.partition{
	
  background-color:gray;
  height:28px;
  margin: 5px 0px;

  filter: alpha(opacity=90);
  opacity:0.9;
  
 behavior:url("eazytec/js/PIE-1.0.0/PIE.htc");

}

.partition h3{
	
line-height:30px;
color:white;
margin-left:10px;

}

#viewer {
 /*
  * margin-left:auto;margin-right:auto;width:940px;
  */ 
}
#buttons{
  margin:5px;
}
#tab_header{
  text-align:center;
}

.content_title{
  text-align:center;
/*  margin:5px; */
}

.buttons{
  text-align:center;
}

.buildinglabel{
  
  height:30px;
  margin: 5px 0px;
  width: 800px;
  filter: alpha(opacity=90);
  opacity:0.9;
 behavior:url("eazytec/js/PIE-1.0.0/PIE.htc");
}
#buildinglabel{
  
  height:80px;
  margin: 5px 0px;
  width: 800px;
  filter: alpha(opacity=90);
  opacity:0.9;
 behavior:url("eazytec/js/PIE-1.0.0/PIE.htc");
}
.buildinglabel2{
  
  height:28px;
  margin: 5px 0px;
  width: 800px;
  filter: alpha(opacity=90);
  opacity:0.9;
 behavior:url("eazytec/js/PIE-1.0.0/PIE.htc");
}