/* login style */
html, body, form {margin: auto;font-size: 13px; height: 100%}
#login{
  background:url('../images/eazytec/login_bg.jpg') repeat;
  width: 100%;height:100%;
}
.login-main { 
  width:1280px ;
  height: 768px;
  margin: 0px auto;
  vertical-align: middle;
  text-align:left;
  background: url('../images/eazytec/login_main.jpg')
}
.login-main-ie{ position: relative; z-index: 100; top:250px; left: 185px;}
.psw_text{
    width: 150px; border: 0px;
    margin-top: 30px; margin-left:288px;}
.user_text{ 
  width: 150px; border: 0px;
  margin-top: 42px; margin-left:288px;}
#login-button { 
  background: url('../images/eazytec/btn_login.png') center center no-repeat; 
  width: 60px; height: 60px; 
  border: 0px; 
  margin-left:30px;
  margin-top:10px;
}
#login-title{
font-size:40px;
text-align:center;
color:yellow;
}
#login-footer{
text-align:center;
color:white;
}
